<h1>{{ heading }}</h1>
<div class="row">
    <div class="col-md-6">
        <img src="{{ resource('profile-img') }}">
    </div>
    <div class="col-md-6">
        <ul>
            {% for tag in section.tags %}
                <li>{{ tag }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% if section.description is defined %}
    <p>{{ section.description }}</p>
{% endif %}
